{%extends 'base.html'%}


{%block head%}
{{super()}}
<style>
    .register {
        padding-left: 50px;
        position: relative;
        color: #212745;
    }

    .left {
        margin-top: 100px;
    }

    h2 {
        margin-bottom: 30px;
    }

    h2::before {
        content: '';
        display: block;
        width: 125px;
        height: 30px;
        background-color: #DCE1F4;
        opacity: 0.8;
        position: absolute;
        left: 65px;
        top: 115px;
        z-index: -1;
    }
    

    .registerFlower {
        width: 65%;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -2;
    }
</style>
{%endblock head%}


{%block content%}
<div class="container register">
    <div class="left">
        <h2>用戶資料</h2>
        <p>暫不開放</p>
    </div>
    <img src="{{ url_for('static', filename='image/register.jpg') }}" class="registerFlower">
</div>
{%endblock content%}